<!DOCTYPE html>
<html>
<head>
    <title>Shared Food List</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1> Shared Food with Love</h1>
    <h1>Food is precious, do not waste it</h1>
    <a href="submit">➕ Share Food</a>
    <div class="food-list">
        {% for item in items %}
            <div class="food-card">
                <h2>{{ item[1] }}</h2>
                <p>Ingredients: {{ item[2] }}</p>
                <p>Expires: {{ item[3] }}</p>
                <p>Status: {{item[4]}}</p>
                <p>Allergy Info:{{item[5]}}</p>
                <p>Free: {{item[6]}}</p>
            </div>
        
        {% else %}
            <p>No food shared yet. Be the first!</p>
        {% endfor %}
    </div>

</body>
</html>